@use "variables" as var;

@media (min-width: var.$breakpoint-tablet) {
  body {
    background: var.$gradient-whitelblue-tablet;
  }

  .header {
    padding: 1.5em 2.5em 0 2.5em;
    margin-bottom: -2rem;
    position: relative;
    z-index: 10;
  }

  .page-container {
    padding: 0;
  }

  .hero {
    display: flex;
    padding: 2.5em 0 4.5em 2.5em;
    overflow: hidden;
    align-items: center;

    &__content {
      width: 100%;
    }

    &__copy {
      max-width: 32rem;
    }

    &__img-wrapper {
      padding: 0;
      margin-top: -5rem;
    }

    &__img {
      max-width: none;
    }

    &__img-text-members {
      top: 100px;
      right: 25px;
      padding: 1em 1.5em;
    }
  }

  .course-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem 0.75rem;
    padding: 3.5em 2.5em 6em 2.5em;

    &__header {
      margin: 0;
    }

    &__heading {
      padding: 1em 0 0 0;
    }

    &__item {
      margin: 0;
    }
  }

  .footer {
    padding: 2.5em;
  }
}

@media (min-width: var.$breakpoint-desktop) {
  body {
    background: var.$gradient-whitelblue-desktop;
  }

  .header {
    padding: 1.5em 10.5em 0 10.5em;
    margin-bottom: -5.25rem;

    &__logo {
      max-width: none;
    }
  }

  .btn {
    font-size: 1.125rem;
    padding: 1em 1.75em;
  }

  .hero {
    padding: 5em 0 0 10.5em;

    &__heading {
      font-size: 3.5rem;
      max-width: 29rem;
      line-height: 71px;
    }

    &__copy {
      font-size: 1.125rem;
      max-width: 27rem;
      padding: 1.5em 0 2.5em 0;
    }

    &__btn {
      padding: 1.1em 1.75em 1em 1.75em;
    }

    &__img-wrapper {
      padding-left: 3rem;
    }

    &__img-text-wrapper {
      padding: 1em 3.5em 1em 1.5em;
      border-radius: calc(var.$border-radius-curved + 5px);
    }

    &__img-text-members {
      top: 280px;
      right: 100px;
    }

    &__img-text-courses {
      bottom: 150px;
    }

    &__img-text-heading {
      font-size: 1rem;
    }

    &__img-text-stat {
      font-size: 2.5rem;
      line-height: 50px;
    }
  }

  .course-list {
    padding: 3.5em 10.5em 9em 10.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5.5rem 1.75rem;

    &__header {
      border-radius: calc(var.$border-radius-curved + 5px);
      padding: 1.75em 1.75em 9em 1.75em;
    }

    &__heading {
      font-size: 2rem;
      line-height: 40px;
    }

    &__item {
      border-radius: calc(var.$border-radius-curved + 5px);
      display: flex;
      flex-direction: column;
      padding: 0 2em 2em 2em;
    }

    &__icon {
      width: min-content;
    }

    &__name {
      font-size: 1.5rem;
    }

    &__copy {
      font-size: 1.125rem;
      line-height: 28px;
      padding: 1em 0 2em 0;
    }

    &__link {
      margin: auto 0 0.5em 0;
    }
  }

  .footer {
    padding: 2em 10.5em;

    &__logo {
      max-width: none;
    }
  }
}
