@use "variables" as var;

@media (min-width: var.$breakpoint-tablet) {
  body {
    background: var.$gradient-whitelblue-tablet;
  }

  .header {
    padding: 1.5em 2.5em 0 2.5em;
    margin-bottom: -1rem;
  }

  .page-container {
    padding: 0;
  }

  .hero {
    display: flex;
    padding: 2.5em 0 2.5em 2.5em;
    overflow: hidden;
    align-items: center;

    &__content {
      width: 100%;
    }

    &__copy {
      max-width: 32rem;
    }

    &__img-mobile {
      display: none;
    }

    &__img-tablet-desktop {
      display: block;
      margin-right: -19rem;
      margin-top: -12rem;
      margin-bottom: -3.5rem;
    }

    &__img {
      max-width: none;
    }
  }

  .course-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.5rem 0.75rem;
    padding: 3.5em 2.5em 6em 2.5em;

    &__header {
      margin: 0;
    }

    &__heading {
      padding: 1em 0 0 0;
    }

    &__item {
      margin: 0;
    }
  }

  .footer {
    padding: 2.5em;
  }
}
